@model VideoGamesCatalogApp.Models.SystemRequirement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SystemRequirement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequirementType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequirementType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RamGb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RamGb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StorageGb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StorageGb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Os)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Os)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectXversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectXversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpu.ComponentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gpu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gpu.ComponentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SysReqId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
