@model IEnumerable<VideoGamesCatalogApp.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Відгуки</h1>

<p>
    <a asp-action="Create">Додати новий відгук</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEdited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsEdited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
                <td>
                    <div class="btn-group" role="group">
                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ReviewId" class="btn btn-sm btn-outline-warning">Edit</a>
                        }

                        <a asp-action="Details" asp-route-id="@item.ReviewId" class="btn btn-sm btn-outline-info">Details</a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.ReviewId" class="btn btn-sm btn-outline-danger">Delete</a>
                        }
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
