@model VideoGamesCatalogApp.Models.GameKey

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GameKey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevocationReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevocationReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentUser.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storefront)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storefront.StorefrontId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KeyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
