@model VideoGamesCatalogApp.Models.GameKey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameKey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LicenseKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LicenseKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevocationReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevocationReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentUser.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Game)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Game.GameId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Storefront)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Storefront.StorefrontId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KeyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
